// Global box-sizing
*,
:after,
:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background: $white;
  color: $text-fill;
  font-family: $sans;
  margin: 0;
  padding: 0;

  @include respond-to(medium) {
    background: $body-background;
  }
}

a {
  color: $text-fill;
  text-decoration-color: transparent;
  transition: $default-transtion;

  &.underline:hover {
    color: darken($text-fill, 50%);
    text-decoration-color: darken($text-fill, 50%);
  }
}

// Layout twaaks
.wrapper {
  overflow-x: hidden; // avoid horizontal scrolls created by large elements
}

.container {
  margin: 0 auto;
  padding: 0 20px;

  @include respond-to(xsmall) {
  }

  @include respond-to(small) {
    max-width: #{inspect(map-get($breakpoints-sizes, small))};
  }

  @include respond-to(medium) {
    max-width: inherit;
    padding: 0 30px;
  }

  @include respond-to(large) {
    max-width: #{inspect(map-get($breakpoints-sizes, large))};
  }

  // Uncomment to enable larger resolutions
  // @include respond-to(xlarge) {
  //   max-width: #{inspect(map-get($breakpoints-sizes, xlarge))};
  // }
}
