.grid {
  background: cyan;

  @include respond-to(xsmall) {
    background: darkcyan;
  }
  @include respond-to(small) {
    background: yellow;
  }
  @include respond-to(medium) {
    background: green;
  }
  @include respond-to(large) {
    background: orange;
  }
  @include respond-to(xlarge) {
    background: red;
  }
}

