// Colors
$white: #FFF;
$gray: #F0EFEE;
$black: #000;

// Fonts
$sans: 'Open Sans', sans-serif;

// Screen breakpoints
$breakpoints-sizes: (
  'xsmall' : 400px,
  'small'  : 640px,
  'medium' : 720px,
  'large'  : 1200px,
  'xlarge' : 1440px
);

$breakpoints: (
  'xsmall' : ( min-width:  #{inspect(map-get($breakpoints-sizes, xsmall))} ),
  'small'  : ( min-width:  #{inspect(map-get($breakpoints-sizes, small))} ),
  'medium' : ( min-width:  #{inspect(map-get($breakpoints-sizes, medium))} ),
  'large'  : ( min-width:  #{inspect(map-get($breakpoints-sizes, large))} ),
  'xlarge' : ( min-width: #{inspect(map-get($breakpoints-sizes, xlarge))} )
);

// Element pallete
$header-background: $white;

$body-background: $gray;
